*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(45deg, rgb(25, 10, 224) 35%, rgba(0,212,255,1) 100%);
}

.ney_img{
    width: 300px;
    border-radius: 100%;
}

.ney_text{
    color: white;
    font-size: 50px;
}

nav{
    background-color: rgb(26, 11, 238);
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

li a{
    font-size: 30px;
    text-decoration: none;
    color: white;
    width: 100%;
}

@media screen and (max-width: 768px) {
    section, aside{
        width: 100%;
        padding: 0;
    }

    .sec_top {
        width: 100%;
    }

    .ney_img {
        width: 50%;
        padding-left: 1em;
    }

    .ney_text {
        font-size: 25px;
        padding-left: 1em;
    }
}

@media screen and (max-width: 600px) {
    nav li {
        float: none;

    }
}

